.userInfoPreview {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 979px) {
    .userInfoPreview {
        display: none;
    }
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: '. . . . . . ';

        width: 100%;
        padding: 0;
        position: sticky;
        bottom: 0;
    }
    .nav hr {
        display: none;
    }
}
.userInfoPreview .username {
    font-size: 16px;
    margin: 0;
}

.nav .logoutBtn {
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: tomato;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .profileBtn {
    border: 0;
    padding: 0.5rem;

    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: rgb(85, 144, 255);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .messageBtn {
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: rgb(56, 189, 67);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .homeBtn {
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: rgb(107, 56, 189);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.nav .searchBtn {
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: rgb(120, 134, 35);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
}
.nav .landfillBtn {
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.nav .binBtn {
    border: 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    color: rgb(66, 66, 66);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.navButtonText {
    margin: 0;
    padding-right: 10px;
    font-size: 1em;
}
.nav .homeBtn:hover {
    color: white;
    background-color: rgb(107, 56, 189);
}
.nav .messageBtn:hover {
    color: white;
    background-color: rgb(56, 189, 67);
}
.nav .logoutBtn:hover {
    background-color: tomato;
    color: white;
}
.nav .profileBtn:hover {
    background-color: rgb(85, 144, 255);
    color: white;
}
.nav .searchBtn:hover {
    background-color: rgb(120, 134, 35);
    color: white;
}
.nav .landfillBtn:hover {
    color: rgb(65, 41, 41);
}
.nav .binBtn:hover {
    color: rgb(65, 41, 41);
}
